.content {
    font-size: 18px;
    font-family: sans-serif;
    color: black;
}

.author {
    font-size: 15px;
    font-family: sans-serif;
    color: #808080
}

.data-box {
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.custom-header {
    border-bottom: 0px !important;
}

.custom-footer {
    border-top: 0px !important;
}

.custom-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}