<app-modal-info [ngStyle]="{'display': displayInfoModal ? 'block' : 'none'}"></app-modal-info>

<div class="container-fluid">
  <div class="row main-panel">
    <div class="text-center">
      <div class="header">ANIMAL FACTS</div>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-primary btn-menu" (click)="onBtnClick('cat')">CATS</button>
      <button type="button" class="btn btn-primary btn-menu" (click)="onBtnClick('dog')">DOG</button>
      <button type="button" class="btn btn-primary btn-menu" (click)="onBtnClick('horse')">HORSES</button>
      <button type="button" class="btn btn-primary btn-menu" (click)="onBtnClick('snail')">SNAILS</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>